<div id='sidebar'>
</div>

<div id='content'>
	<div class='panel'>
		<div class='inner'>
			<h3>About</h3>
			<p>Here you can:</p>
			<ul>
				<li>Manage your project, task and timesheet</li>
			</ul>
		</div>
	</div>	
</div>
